
### Ionic3 ###
# Log an tmp data
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.js.map
package-lock.json
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
log.txt
.editorconfig

# NPM (Node Package Manager) files
npm-debug.log*
node_modules/
tmp/
temp/

# Preprocessors cache files
.sourcemaps/
.sass-cache/
.tmp/
hooks/

# Ionic 3 plugins files
platforms/
plugins/
plugins/android.json
plugins/ios.json
demo/www
google-services.json

# Trash data
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# End of https://www.gitignore.io/api/ionic3,firebase

